input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
}
span {
  margin-top: 2px;
  color: red;
  font-size: 12px;
}
input {
  height: 24px;
  padding: 2px;
}
button {
  height: 32px;
  padding: 2px;
}
